body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.tag {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-transform: lowercase;
    color: #333;
}
.tag .text {
    color: #63a35c;
}
.input-group {
    margin-bottom: 20px;
}
.column-header {
    font-weight: bold;
    margin-bottom: 10px;
}
.pointer {
    cursor: pointer;
}
