/* app css stylesheet */

body {
    font-family: 'Lato', sans-serif;
}
.tag {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    text-transform: lowercase;
    color: #333;
}
.tag .text {
    color: #63a35c;
}
.alert {
  display: block;
}
