<div class="main">
    <div class="container">
        <div class="row text-center">
            <div class="col-xs-12">
                <h1>Tag Analyzer</h1>
                <p>Find Out What HTML Tags are Used by a Webpage</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <form class="input-group input-group-lg">
                    <input type="text" name="input" ng-model="url" class="form-control" placeholder="URL" required>
                    <span class="input-group-btn">
                        <button type="submit" ng-click="getTags(url)" class="btn btn-secondary" />Go!</button>
                    </span>
                </form>
                <div class="alert alert-danger" role="alert" ng-show="error">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> {{error}}
                </div>
            </div>
        </div>

        <div class="row text-center column-header" ng-show="tags.length">
            <div class="col-xs-4 col-xs-offset-2">
                <span ng-click="order('tagName')" class="pointer">Tag <i class="fa fa-caret-down"></i></span>
            </div>
            <div class="col-xs-4">
                <span ng-click="order('count')" class="pointer">Count <i class="fa fa-caret-down"></i></span>
            </div>
        </div>

        <div class="row text-center" ng-repeat="tag in tags | orderBy:predicate:reverse" ng-hide="error">
            <div class="col-xs-4 col-xs-offset-2">
                <span class="tag"><<span class="text">{{tag.tagName}}</span>></span>
            </div>
            <div class="col-xs-4">
                {{tag.count}}
            </div>
        </div>
    </div>
</div>
